body {
  background-color: #121212;
  color: white;
}

/* body,
#root,
.network-container {
  width: 100vw;
  height: 100vh;
} */

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
