name: build-and-release

on:
  push:
    branches: [main, master]
  workflow_dispatch:

permissions:
  contents: read # for checkout

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    uses: SpiralP/github-reusable-workflows/.github/workflows/release.yml@625e52de7383aa8dbd856e337bf0869fc81ab5e7 # main
    needs: build
    if: "${{ ! startsWith(github.event.head_commit.message, 'chore(release): ') }}"
    concurrency:
      group: release-${{ github.ref }}
      cancel-in-progress: false # do not cancel in-progress jobs
    permissions: {} # none, since we use a custom app
    with:
      environment-name: release
      replace-files: |
        Cargo.lock
        Cargo.toml
        package-lock.json
        package.json
    secrets:
      app-id: ${{ secrets.APP_ID }}
      app-private-key: ${{ secrets.APP_PRIVATE_KEY }}
